
/*      ---------------------                  LAYOUT                       ------------------------*/

body {
    background-color: #D7D9CE;
    font-family: arial, sans-serif;
}

.menu {
    font-weight: 700;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10px;
    padding-top: 0;
    background-color: #dde0e6;
    font-weight: 600;
    background-color: rgb(194, 197, 182);
    justify-content: center;
}

.content {
    position: relative;
    padding-top:50px;
    padding-bottom: 2%;
    background-color: #D7D9CE
}

.container {
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
}

/*      ---------------------                  OPTIONS                       ------------------------*/

.name {
    font-weight: 700;
    color: blue;
    justify-content: center;
    font-size: 25px;
}

.change {
    font-weight: 700;
    color: rgb(16, 195, 0)
}

.bold {
    font-weight: bold;
}

.strike {
    color: rgb(253, 73, 2)
}

.gridStyle {
    width: 5%;
    height: 15px;
    font-weight: bold;
    text-align: center;
    background: #119DA4;
    border: 1px solid #040404;
}

.col {
    background:  #119DA4;
    border: 1px solid #040404;
}

.mid {
    background-color: rgb(194, 197, 182);
    font-weight: 700
}

.sticky{
    top: 60px;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: rgb(194, 197, 182);
}

.sticky1{
    top: 55px;
    width: 100%;
    position: fixed;
    margin-top: 50px;
    z-index: 1;
}

.raws {
    margin-top: 80px;
    z-index: 1;
}

/*      ---------------------                  APEX Chart                       ------------------------*/

.gridChart {
    text-align: center;
    width:50%;
    height: 15px;
    font-weight: bold;
    text-align: center;
    background: #119DA4;
    border: 1px solid #040404;
    padding: 8px 5px 27px 5px;
}