body {
    background: inherit;
    font-family: arial, sans-serif;
}

.menu {
    font-weight: 700;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10px;
    padding-top: 0;
    background-color: #dde0e6;
    font-weight: 600;
    color: rgb(133, 123, 123);
    justify-content: center;
}

.content {
    padding: 0 50px;
}

.container {
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
}
